@media screen and (max-width:1000px){
	body{
		background-image : url("./backgroundimage.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color: #464646;
	}
	p{
		font-family: 'Roboto Condensed', sans-serif;
	}
	.location{
		text-align:center;
		font-size:48px;
		color:#fff;
		text-shadow: 3px 3px 1px #000;
		background-color:rgba(0,0,0,0.4);
	}
	.temp{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:100%;
	}
	.updated{
		color:#fff;
		text-shadow: 3px 3px 1px #000;
		font-size:16px;
		float:bottom;
	}
	.weather{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:100%;
	}
	.todayHT{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:100%;
	}
	.winddirection{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:100%;
	}
	.sun{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:100%;
	}
	.tomorrowweather{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:100%;
	}
	.tomorrowweatherimage{
		width:320px;
		height:240px;
	}
	.weatherimage{
		width:320px;
		height:240px;
	}
}