@media screen and (min-width: 999px){
	body{
		background-image : url("./backgroundimage.jpg");
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
		background-color: #464646;
	}
	p{
		font-family: 'Roboto Condensed', sans-serif;
	}
	.location{
		text-align:center;
		font-size:48px;
		color:#fff;
		text-shadow: 3px 3px 1px #000;
		background-color:rgba(0,0,0,0.4);
	}
	.temp{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:50%;
	}
	.updated{
		color:#fff;
		text-shadow: 3px 3px 1px #000;
		font-size:16px;
		position: absolute;
		right:0px;
		bottom:0px;
	}
	.weather{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:50%;
	}
	.todayHT{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:50%;
	}
	.winddirection{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:50%;
	}
	.sun{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:50%;
	}
	.tomorrowweather{
		font-size:32px;
		background-color:rgba(255,255,255,0.4);
		width:50%;
	}
	.tomorrowweatherimage{
		position: absolute;
		top:320px;
		right:0px;
		width:320px;
		height:240px;
	}
	.weatherimage{
		position: absolute;
		top:100px;
		right:0px;
		width:320px;
		height:240px;
	}
}